<h1>HELLLLLOOOOOOOOOOOOOO THERE.....</h1>

@x

<% for i in 0..9 %>
	   <%= i %>
<% end %>

<% for i in 0..9 %>
	    <h1>"Zee <3"</h1> 
<% end %>

<% for i in 0..9 %>
	   i <h1>"Zee <3"</h1> <%= i %>
<% end %>

