body{
	background-color: #73c3a6;
	height: 800px;
}

img.d-block{
	height:600px;
	background-size:cover;
}

.kitteh, .owner{
	position:absolute;
	top: 20%;
	left: 30%;
	width: 500px;
	height: 350px;
	color: aliceblue;
}

.bibipic{
	height: 300px;
	width: 500px;
}
