<div class="kitteh">
	<img class="bibipic" src="images/bibi.jpg">
	<h4>Meow! My name is <%= @kitteh.name %>.</h4>
	<p>  I am an <%= @kitteh.breed %>.</p>
	<p> I am <%= @kitteh.age %> years old!</p>		
</div>