<div class="col s6 m6 l4" id="welcome">
	<h1>Welcome to: Who is Better? 2109</h1>
	<h4>Have you ever wondered who will win this year's prize for best FF restaurant? The winner will rule the world and have the opportunity to feed billions of hungry, busy people. Submit your opinion today!</h4>
</div>
    <div class="col s6 m6 l4" id="form">
      <form action="/contact" method="POST">
  		 Your Name:<input type="text" name="fullname" />
  		 Comment:<input type="text" name="comment" />
  		<button>Submit</button></form>
    </div>

    <div class="col s6 m6 l4">
    	<img src="images/wendy.png">
    </div>
	 <div class="col s6 m6 l4">
	 	<img src="images/ron.jpg">
	 </div>