
	<section class="contact" id="sec3">
		<div class="messages">
			<input  class= "namefield" type="text" name="fullname" placeholder="Name">
			<input class="emailfield" type="text" name="email" placeholder="email address">
			<textarea id="msgBox" placeholder="message"></textarea>
			<input  id="send" class="sendbt" type="submit" name="submit">
		</div>
	</section>