<form method="POST" action="/new">
  <input type="text" name="firstname" placeholder="first name">
  <input type="text" name="lastname" placeholder="last name">
  <input type="text" name="age" placeholder="age">
  <input type="text" name="likesbeer" placeholder=" Do you like beer?">
  <button type="submit">Submit</button>
</form>