<div class="container">
<div class="row">
  <div class="col-12">
  	<h1>Ling's Cars</h1>
  	<img  class="col-12" src="images/lingrocket.jpg">
  	<h2>Hello! I am Ling!</h2>
  	<p>Don't be deceived... I may be a scruffy Chinese girl, but I have more happy new-car customers and supply more new cars than many of the anonymous (and some big-name!) leasing companies out there, combined.</p>
  </div>
  <div class="col">col</div>
  <div class="col">col</div>
  <div class="w-100"></div>
  <div class="col">col</div>
  <div class="col">col</div>
</div>
</div>