<% @allcoursestudents.each do |student| %>
<h1><%= student.name %></h1>
<% end %>

<% @allinstructors.each do |student| %>
<h1><%= instructor.name %></h1>
<% end %>

<% @alltas.each do |student| %>
<h1><%= ta.name %></h1>
<% end %>

