
<% @allcoursestudents.each do |student| %>
    <h1>student: <%= student.name %></h1>
    <h1>year: <%= student.year %></h1>
<% end %>

    <h1>instructor: <%= @allinstructors.name %></h1>

<% @alltas.each do |ta| %>
    <h1>TA: <%= ta.name %></h1>
<% end %>